@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yekanBakh;
    src: url(../font/YekanBakhFaNum-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../font/RobotoSlab-VariableFont_wght.ttf);
}
*{font-family: yekanBakh;}


.intro .menu {
  width: 85%;
  height: 59px;
  display: flex;
  justify-content: space-between;
}

.intro .menu .logo {
  color: #FFF;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  line-height: 59px;
}

label[for=menu] {
  display: inline-block;
  z-index: 2;
  position: absolute;
  right: 32px;
  top: 62px;
}


#menu:checked~div.menu nav {
  left: 0;
}

#menu:checked~div.quit>label[for=close] {
  display: block;
}

label[for=close] {
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: fixed;
  right: 32px;
  z-index: 999;
  top: 60px;
  transition: 300ms;
  display: none;
}

#close,
#menu {
  display: none;
}

.intro .menu nav {
  width: 100%;
  height: 108vh;
  background-color: #070917;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 20px;
  transition: 300ms;

}

.intro .menu nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 32px;
}

.intro .menu nav ul li {
  width: auto;
  height: 59px;
}

.intro .menu nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.intro .menu nav ul li button {
  background-color: #DA722C;
}